.welcome {
    margin-left: 40px;
}

.welcome h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    color: var(--color-4);
    font-family: var(--fuente-1);
    text-transform: uppercase;
    z-index: -1;
    user-select: none;
}

.h1-home {

    color: var(--color-3);
    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Geologica', sans-serif;
    user-select: none;
}

.h1-home2 {
    display: none;
    color: var(--color-3);
    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Geologica', sans-serif;
    user-select: none;
}

.h1-2 {
    visibility: hidden;
}